!!!
%html.noscript{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html", "charset" => "#{Comatose.config.content_type}", "http-equiv" => "Content-Type" }
    %title
      Comatose Admin
    = stylesheet_link_tag :comatose_admin, :plugin => "comatose_engine"
    = javascript_include_tag :defaults
    = javascript_include_tag :comatose_support, :plugin => "comatose_engine"
  %body
    #page-container
      #header
        %h1
          = link_to Comatose.config.admin_title, :controller => controller.controller_name, :action => :index
        #flash
          %span#flash-content
            = flash[:notice]
        %h5
          = Comatose.config.admin_sub_title
      #content
        = yield
      #footer